body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* headings */

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */

.container-fluid {
  padding: 5% 15%;
}

/* sections */

.coloured-section{
  background-color: #ff4c68;
  color: white;
}
.white-section{
  background-color: #fff;
}

/* menu */
.navbar {
  margin-bottom: 50px;
  padding: 8px 0;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-link {
  margin-right: 20px;
}

/* title section */

#title .container-fluid{
  padding: 3% 15% 5%;
  text-align: left;
}
.iphone {
  transform: rotate(25deg);
  width: 300px;
  position: absolute;
  right: 25%;
}
.downloadbtn {
  margin-right: 15px;
  margin-bottom: 15px;
}

/* features section */

#features {
  position: relative;
}

.feature-title{
  font-weight: bold;
  font-size: 1.5rem;
}
.redicon {
  color: #ef8172;
  font-size: 50px;
  margin: 15px;
}
.redicon:hover {
  color: #ff4c68;
}
.featspace {
  padding: 5%;
}
.gray {
  color: #8f8f8f;
}

/* testimonials section */

#testimonials {
  background-color: #ef8172;
}
.testimonial-image {
  border-radius: 50%;
  width: 10%;
  padding: 20px;
}
.testimonial-text{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* press section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}
.price-text{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-col {
  padding: 3% 2%;
}
.plan-title{
  font-weight: bold;
  font-size: 1.5rem;
}

/* call to action section */

/* contact section */

.s-icon {
  padding: 30px 10px;
}

/* media changes */

@media (max-width: 1028px) {
  .iphone {
    transform: rotate(0deg);
    position: static;
    right: 0%;
  }

  #title {
    text-align: center;
  }
}
